{%extends 'base.html'%}
{%block body_block%}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
             {%if messages%}
                    {%for msg in messages%}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong></strong> {{msg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
        <table class="table">
            <tr>
                <th>EMPLOYEE ID</th>
                <th>EMPLOYEE NAME</th>
                <th>EMAIL</th>
                <th>Action</th>
            </tr>
            {%for emp in employees%}
            <tr>
                <td>{{emp.eid}}</td>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.email}}</td>
                <td>
                    <a href="{%url 'emp-detail' emp.eid%}">view</a>
                    <a href="{%url 'emp-edit' emp.eid%}">edit</a>
                    <a href="{%url 'emp-delete' emp.eid%}">delete</a>

                </td>
            </tr>
            {%endfor%}
        </table>
        </div>
        <div class="col-2"></div>
    </div>
{%endblock%}