{%extends 'base.html'%}
{%block body_block%}
  <h2 class="text-primary">Employee Detail</h2>
    <div class="row">
        <div class="col-4 mt-3">
            <img src="{{employee.profile_pic.url}}" class="card-img-top" alt="...">
        </div>
        <div class="col-4 mt-5">
            <!--            <h2 class="text-primary">Employee Detail</h2>-->

            <li>ID: {{employee.eid}}</li>
            <li>Designation: {{employee.designation}}</li>
            <li>Name: {{employee.employee_name}}</li>

            </ul>
            <!--                <div class="card-body">-->
            <!--                    <a href="#" class="card-link">Card link</a>-->
            <!--                    <a href="#" class="card-link">Another link</a>-->
            <!--                </div>-->
        </div>

        <div class="col-4 mt-5">
            <li>Email: {{employee.email}}</li>
            <li>Salary: {{employee.salary}}</li>
            <li>Experience: {{employee.experience}}</li>
        </div>
    </div>
{%endblock%}